/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    position: center;
    width: 90%;
    font-family: 'Oswald';
    
  }

  /* Styles pour le header */
header {
  background-color: #61787F;
  color:#fff;
  padding: 20px;
  display: grid;
  font-weight: 300;
  font-size: 40px;
  width: 75%;
  height: auto;
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header_logo {
  align-self: start;
  max-width: 100%;
  height: auto;
}

.main_title {
  font-size: 40px;
} 

/* Styles pour le contenu principal */
main {
  padding: 10px;
} 

.titre_H2 {
  font-weight: 600;
  font-size: 48px;
}
section {
  position:center;
  margin-bottom: 10px;
}

/* Style pour le meilleur film */
.top_movie_infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 6px black solid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  font-size: 28px;
  font-weight: 200;
}
#top-movie-img {
  grid-row: 1/4;
  height: auto;
}

#top-movie-title{
  font-size: 48px;
  font-weight: 600;
  grid-column:2/3 ;
  grid-row:1/2 ;
}

.bestbtn {
  display: flex;
  justify-items: right;
}

/* Style pour les différentes categories  */
.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 15%;
  left: 6%;
  width: 79%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 150%;
  overflow: hidden;
}

.overlay h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay button {
  background-color: rgb(19, 18, 18, 0.6);
  color: white;
  border: none;
  border-radius: 50px;
  width: 65px;
  height: 30px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Button Best movie*/
.bestbtn {
  background-color: rgb(250, 11, 11);
  color: white;
  border: none;
  border-radius: 25px;
  width: 166px;
  height: 68px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
} 

button:hover {
  background-color: #d8422e;
  border: none;
  color: white;
}

button:active {
  transform: scale(1.05);
  transition: transform 100ms ease-in-out;
}

/* Button other movie*/

.btn {
  background-color: rgb(19, 18, 18, 0.6);
  color: white;
  border: none;
  border-radius: 50px;
  width: 65px;
  height: 30px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:0 ;
  right: 0;
}

/* Menu déroulant */
/* Styles pour le menu déroulant */
.menu_genres{
  display: flex;
}

.genres select {
  list-style-type: none;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  width: 200px;
}

/* Styles pour les options du menu déroulant */
.genres select option {
  padding: 8px; 
}

/* The Modal (background) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display:none;
  z-index: 9999;
}

.modal-content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30% 30% 35% 5%;
  justify-items: center;
  background-color: #ffffff;
  padding: 20px;
  max-width: 100%;
  max-height: auto;
  border-radius: 5px;
}

.modalImage img {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  margin-right: 120px;
}

.modalDescription{
  grid-column: 1/3;
  grid-row: 3;
}

.modal-content h3 {
  font-size: 24px;
}

.close {
    grid-row: 4;
    background-color: rgba(250, 11, 11, 0.8);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal-infos {
  grid-row: 1/2;
  font-size: 1em;
  margin-left: 30px;
  margin-right: 40%;
}
/* The Close Button */
.close-button button{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  /* Styles pour le footer */
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    width: 75%;
  }