/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Oswald';
  }

  /* Styles pour le header */
header {
  background-color: #61787F;
  color:#fff;
  padding: 20px;
  font-weight: 300;
  font-size: 40px;
  width: 100%;
  height: auto;
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  gap: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.header_logo {
  align-self: start;
  max-width: 100%;
  height: auto;
}
.main_title {
  font-size: 40px;
}

/* Styles pour le contenu principal */
main {
  padding: 10px;
}
.titre_H2 {
  font-weight: 600;
  font-size: 48px;
}

/* Style pour le meilleur film */
.top_movie_infos {
  display: flex;
  border: 6px black solid;
  gap: 10px;
  font-size: 28px;
  font-weight: 200;
  flex-direction: column;
}
#top-movie-img {
  width: 298px;
  align-self:center;
}
.top-movie-datas{
  display:flex;
  flex-direction: column;
}
#top-movie-title{
  font-size: 32px;
  font-weight: 600;
}
.btn-position {
  display: flex;
  justify-content: center;
}


/*--- Style pour les différentes categories---  */
.movies-grid {
  display: flex;
}
.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---Style pour l'overlay --- */
.overlay {
  position: absolute;
  top: 15%;
  left: 4%;
  width: 92%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.6);
}
.image-container {
  position: relative;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-items: center;
}
.overlay h3 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}
.overlay button:hover {
  background-color: #d8422e;
  border: none;
  color: white;
}
.overlay button:active {
  transform: scale(1.05);
  transition: transform 100ms ease-in-out;
}

/* Buttons */
.bestbtn {
  background-color: rgb(250, 11, 11);
  color: white;
  border: none;
  border-radius: 25px;
  width: 91px;
  height: 40px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: #d8422e;
  border: none;
  color: white;
}
button:active {
  transform: scale(1.05);
  transition: transform 100ms ease-in-out;
}
.overlay button {
  background-color: rgb(19, 18, 18, 0.6);
  color: white;
  border: none;
  border-radius: 25px;
  width: 65px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:0 ;
  right: 0;
}
.btn-voir-plus, .btn-voir-plus-tab, .btn-voir-moins, .btn-voir-moins-tab{
  background-color: rgb(250, 11, 11);
  color: white;
  border: none;
  border-radius: 25px;
  width: 214px;
  height: 36px;
  cursor: pointer;
  transition: all 0.2s;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu déroulant */
.menu_genres{
  display: flex;
}
.genres select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000000;
  width: 200px;
}
.genres select option {
  padding: 8px;
  list-style-type: none;
}

/* The Modal (background) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display:none;
  z-index: 9999;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  max-height: auto;
  border-radius: 5px;
}
.data-img{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.modalImg{
  display:flex;
  flex-direction: row-reverse;
  justify-content: end;
}
#modalImage {
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  width: 227px;
}
.modal-content h3 {
  font-size: 24px;
}

.modal-infos {
  font-size: 24px;
  margin-left: 30px;
  margin-right: 40%;
}

/* The Close Button */
.modal-btn{
  display: flex;
  justify-content: center;
}
.close {
  background-color: rgba(250, 11, 11, 0.8);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

  /* Styles pour le footer */
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

/* Version mobile */
  @media screen and (max-width: 767px){
    header h1{
      display: none;
    }
    header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo {
      text-align: center;
    }
    .logo img {
      height: 137px;
      width: 300px;
    }
    .Titres_H2{
      text-align: center;
      font-size: 32px;
    }
    .genre_h2, .block{
      display:none;
    }
    .genres{
      text-align: center;
    }
    #best-movies-column2, #best-movies-column3, #comedy-column2, #comedy-column3, #Sci-Fi-column2, #Sci-Fi-column3, #genColumn2, #genColumn3{
      display: none;
    }
    .hiddenElements {
      display:flex;
      flex-direction: column;
    }
    .btn-container-tab, .btn-container-moins, .btn-container-moins-tab  {
      display:none;
    }
  }

/* Version tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bestbtn {
    width: 123px;
    height: 49px;
  }
  .titre_H2 {
    font-size: 40px;
  }
  #best-movies-column3, #comedy-column3, #Sci-Fi-column3, #genColumn3 {
    display: none;
  }
  .hiddenElements2 {
    display:flex;
    flex-direction: column;
  }
  .btn-container-tab {
    display: flex;
    align-self: center;
  }
  .btn-container, .btn-container-moins, .btn-container-moins-tab {
    display:none;
  }
  .overlay {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 30%;
  }
  .btn-position{
    display: flex;
    justify-content: flex-end;
  }
  .top_movie_infos {
    display: flex;
    flex-direction: row;
  }
  #top-movie-title{
    font-size: 48px;
    font-weight: 600;
  }
  #top-movie-img {
    width: 227px;
  }
}

/* Version ordinateur */
@media screen and (min-width: 1024px) {
  .overlay {
    position: absolute;
    top: 15%;
    left: 6%;
    width: 88%;
    height: 30%;
  }
  .image-container{
    width:fit-content;
  }
  .btn-container, .btn-container-tab, .btn-container-moins, .btn-container-moins-tab {
    display:none;
  }
  .movies-grid img {
    width:300px ;
  }
  .btn-position{
    display: flex;
    justify-content: flex-end;
  }
  .top_movie_infos {
    display: flex;
    flex-direction: row;
  }
  #top-movie-title{
    font-size: 48px;
    font-weight: 600;
  }
  #top-movie-img {
    width: 227px;
  }
  .bestbtn {
  width: 166px;
  height: 68px;
}
}